* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav img {
    width: 80px;
    padding: 0px 15px;
}

#editLogo {
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 5px 4px 3px 5.5px;
    /* margin: 0px 7px; */
    border-radius: 50%;
}

#editLogo:hover {
    background: linear-gradient(-142deg, #ff0000, #fe00ff, #8200c5);
}

#navA {
    color: white;
    font-family: graduate;
}

#mainlink {
    background: linear-gradient(-142deg, #ff0000, #fe00ff, #8200c5);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-family: Graduate;
    font-size: 11.5px;
    margin-right: 10px;
}

#mainlink:hover {
    background: transparent;
}

#UserName {
    background: linear-gradient(-142deg, #ff0000, #fe00ff, #8200c5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding:0 9px;
}

#allHome {
    display: flex;
    align-items: center;
    justify-content: center;
}

#homehead1 {
    background-color: black;
    height: 25rem;
}

#homehead2 {
    font-family: Satisfy;
    color: white;
    text-align: center;
    padding: 5px;
    padding-top: 40px;
}

.aboutbox {
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 5px;
    padding: 10px;
}

.btn2020 {
    padding: 3px;
    background-color: rgb(0 0 0);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-family: Graduate;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: none;
}

.btn2020:hover {
    background-color: linear-gradient(-142deg, #ff0000, #fe00ff, #8200c5);
    border: 2px solid rgb(0, 0, 0);
    color: white;
}

/* #mailid {
    text-decoration: none;
    color: rgba(0, 255, 255);
}

#mailid:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
} */

#hurryUp {
    display: flex;
    align-items: center;
    justify-content: center
}

#mainTime {
    background: linear-gradient(-142deg, #ff2929,#ff2828, #fe00ff, #8200c5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Graduate;
    padding: 6px;
    padding-top: 15px;
    font-size: 32px;
}

#homehead2 h1 {
    font-family: Graduate;
    color: white;
    text-align: center;
    padding: 5px;
    padding-bottom: 0;
}

#homehead2 h2 {
    font-size: 35px;
}

#homehead2 h4 {
    font-size: 28px;
}

#homehead3,
#homehead4 {
    box-shadow: 13px 16px 15px #ffffff4d;
    background: linear-gradient(-142deg, #ff0000, #fe00ff, #8200c5);
    margin: 3vh;
    width: 50%;
    min-height: 21rem;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 50px;
}

#homehead3 h2,
#homehead4 h2 {
    font-family: Bree Serif;
    font-size: 25px;
}

#para {
    font-family: Bree Serif;
    font-size: 16px;
    text-align: left;
}

#homehead3 h3,
#homehead4 h3 {
    font-family: Nova Square;
    font-size: 30px;
    font-weight: 400;
    color: white;
    padding: 10px;
}

/* ======================================= */

#mypdf {
    width: 98%;
    height: auto;
}

#pdfdiv {
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 10px;
}
#updateid
{
    color: white;
}

/* ======================================== */
@media only screen and (max-width: 800px) {
    nav img {
        width: 50px;
        padding: 3px;
    }

    #navA {
        color: white;
        font-family: graduate;
        font-size: 16px;
    }

    #editLogo {
        font-size: 12.5px;
        padding: 5px 4px 3px 5.5px;
        margin: 0px 2px;
    }

    #allHome {
        display: block;
    }

    #homehead2 {
        padding-top: 15px;
    }

    #homehead2 h2 {
        font-size: 28px;
    }

    #homehead2 h4 {
        font-size: 20px;
    }

    #mainTime {
        font-size: 19px;
        padding: 5px;
    }

    #homehead3,
    #homehead4 {
        min-height: 15rem;
        margin: 3% 4%;
        margin-top: 0;
        padding: 3vh 4vh;
        width: 92%
    }

    #homehead3 h2,
    #homehead4 h2 {
        font-size: 16px;
    }

    .aboutbox {
        padding: 8px;
    }

    .btn2020 {
        padding: 4px;
        border: 1.6px solid white;
        font-size: 8px;
    }

    #homehead3 h3,
    #homehead4 h3 {
        font-size: 20px;
    }

    #para {
        font-size: 10.8px;
        padding: 0;
    }

    #mainlink {
        font-size: 8px;
        margin-right: 2px;
    }

    /* ============================================= */
    #mypdf {
        width: 98%;
        height: 40%;
    }

    #pdfdiv {
        width: 100%;
        height: 100vh;
        padding: 10px;
    }
    #updateid{
        font-size:17px;
    }
}
